doctype html

html(lang='en')

  head

    title OLIOS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,900', rel='stylesheet')

  body

    div.app

      nav.left-nav

        a.main-logo(href='#')
          img.left-nav__image(src='pics/logo.png')

        ul.left-nav__menu

          li.left-nav__item
            svg.left-nav__image(preserveAspectRatio="xMidYMid" width="26" height="31.969" viewBox="0 0 26 31.969")
              defs
                style.
                  .cls-1 {
                  fill: #d8d8d8;
                  fill-rule: evenodd;
                  }
              path(d="M13.000,3.711 L23.000,13.711 L23.000,28.969 L18.000,28.969 L18.000,21.969 C18.000,20.864 17.104,19.969 16.000,19.969 L10.000,19.969 C8.895,19.969 8.000,20.864 8.000,21.969 L8.000,28.969 L3.000,28.969 L3.000,13.711 L13.000,3.711 M13.884,0.352 C13.395,-0.136 12.604,-0.136 12.116,0.352 L0.586,11.883 C0.211,12.258 -0.000,12.767 -0.000,13.297 L-0.000,29.969 C-0.000,31.073 0.895,31.969 2.000,31.969 L9.000,31.969 C10.104,31.969 11.000,31.073 11.000,29.969 L11.000,22.969 L15.000,22.969 L15.000,29.969 C15.000,31.073 15.895,31.969 17.000,31.969 L24.000,31.969 C25.104,31.969 26.000,31.073 26.000,29.969 L26.000,13.297 C26.000,12.767 25.789,12.258 25.414,11.883 L13.884,0.352 Z" class="cls-1")

          li.left-nav__item
            svg.left-nav__image(preserveAspectRatio="xMidYMid" width="36" height="32" viewBox="0 0 36 32")
              defs
                style.
                  .cls-1 {
                  fill: #d8d8d8;
                  fill-rule: evenodd;
                  }
              path(d="M33.000,9.000 L27.905,9.000 C27.868,8.898 27.830,8.797 27.773,8.706 L22.774,0.706 C22.508,0.282 22.037,-0.000 21.500,-0.000 C20.672,-0.000 20.000,0.671 20.000,1.500 C20.000,1.791 20.083,2.063 20.227,2.294 L24.418,9.000 L11.582,9.000 L15.774,2.294 C15.917,2.063 16.000,1.791 16.000,1.500 C16.000,0.671 15.328,-0.000 14.500,-0.000 C13.963,-0.000 13.492,0.282 13.227,0.706 L8.227,8.706 C8.170,8.797 8.132,8.898 8.095,9.000 L3.000,9.000 C1.343,9.000 0.000,10.343 0.000,12.000 L0.000,14.000 C0.000,15.421 0.991,16.604 2.317,16.915 L6.121,29.848 C6.487,31.092 7.638,32.000 9.000,32.000 L27.000,32.000 C28.362,32.000 29.513,31.092 29.879,29.848 L33.683,16.915 C35.009,16.604 36.000,15.421 36.000,14.000 L36.000,12.000 C36.000,10.343 34.657,9.000 33.000,9.000 ZM3.000,12.000 L33.000,12.000 L33.000,14.000 L3.000,14.000 L3.000,12.000 ZM27.000,29.000 L8.999,29.002 L5.470,17.000 L30.530,17.000 L27.000,29.000 Z" class="cls-1")

          li.left-nav__item
            svg.left-nav__image(preserveAspectRatio="xMidYMid" width="32" height="32" viewBox="0 0 32 32")
              defs
                style.
                  .cls-1 {
                  fill: #d8d8d8;
                  fill-rule: evenodd;
                  }
              path(d="M20.000,-0.000 C13.373,-0.000 8.000,5.373 8.000,12.000 C8.000,14.772 8.949,17.318 10.529,19.349 L0.439,29.439 C0.146,29.732 -0.000,30.115 -0.000,30.500 C-0.000,30.884 0.146,31.267 0.439,31.560 C0.732,31.853 1.116,32.000 1.500,32.000 C1.884,32.000 2.268,31.853 2.560,31.560 L12.650,21.471 C14.681,23.051 17.227,24.000 20.000,24.000 C26.627,24.000 32.000,18.627 32.000,12.000 C32.000,5.373 26.627,-0.000 20.000,-0.000 ZM20.000,21.000 C15.037,21.000 11.000,16.963 11.000,12.000 C11.000,7.037 15.037,3.000 20.000,3.000 C24.963,3.000 29.000,7.037 29.000,12.000 C29.000,16.963 24.963,21.000 20.000,21.000 Z" class="cls-1")

      div.burger-icon: span.burger-icon__line

      nav.right-nav

        div.right-nav__block

          ul.right-nav__menu

            li.right-nav__item
              a.right-nav__link: span.right-nav__item-name Living Room
            li.right-nav__item
              a.right-nav__link.right-nav__link--office: span.right-nav__item-name Office
            li.right-nav__item
              a.right-nav__link.right-nav__link--kids: span.right-nav__item-name For kids
            li.right-nav__item
              a.right-nav__link.right-nav__link--kitchen: span.right-nav__item-name Kitchen
            li.right-nav__item
              a.right-nav__link.right-nav__link--accessories: span.right-nav__item-name Accessories

      main.main-content

        section.home

          header.home__header

            h1.home__heading OLIOS
            h2.home__subheading NEWEST FURNITURE SHOP TEMPLATE

            a.more-button(href='#') View More

          div.home__image-block
            img.home__image(src='pics/home-images/home-1.jpg')

        div.production-wrapper

          div.category-indicator

            h1.category-indicator__heading PRODUCTS

            div.category-indicator__type

              a.category-indicator__link(href="#")

                span.category-indicator__name LIVING ROOM

          section.categories

            ul.categories__products

              li.categories__products-item

                div.categories__products-image
                  img(src='pics/products-small/red-seat--small.png')

                div.categories__products-caption

                  span.categories__products-name RED SEAT
                  p.categories__products-description Lorem ipsum dolor sit amet
                  span.categories__products-price $45

              li.categories__products-item

                div.categories__products-image
                  img(src='pics/products-small/red-seat--small.png')

                div.categories__products-caption

                  span.categories__products-name WHITE TABLE
                  p.categories__products-description Lorem ipsum dolor sit amet
                  span.categories__products-price $350

              li.categories__products-item

                div.categories__products-image
                  img(src='pics/products-small/red-seat--small.png')

                div.categories__products-caption

                  span.categories__products-name BLUE SEAT
                  p.categories__products-description Lorem ipsum dolor sit amet
                  span.categories__products-price $35

              li.categories__products-item

                div.categories__products-image
                  img(src='pics/products-small/red-seat--small.png')

                div.categories__products-caption

                  span.categories__products-name MODERN BED
                  p.categories__products-description Lorem ipsum dolor sit amet
                  span.categories__products-price $120

              li.categories__products-item

                div.categories__products-image
                  img(src='pics/products-small/red-seat--small.png')

                div.categories__products-caption

                  span.categories__products-name DARK SEAT
                  p.categories__products-description Lorem ipsum dolor sit amet
                  span.categories__products-price $50

        section.product

          div.product__picture-section

            div.product__likes
              span 495
              svg.left-nav__image(preserveAspectRatio="xMidYMid" width="32" height="30" viewBox="0 0 32 30")
                defs
                  style.
                    .cls-1 {
                      fill: #ff547c;
                      fill-rule: evenodd;
                    }
                path(d="M23.000,3.000 C26.308,3.000 29.000,5.691 29.000,9.000 C29.000,17.839 19.565,24.391 16.000,26.550 C12.434,24.391 3.000,17.839 3.000,9.000 C3.000,5.691 5.691,3.000 9.000,3.000 C10.818,3.000 12.519,3.814 13.667,5.234 C14.236,5.939 15.094,6.348 16.000,6.348 L16.000,6.348 C16.906,6.348 17.764,5.939 18.333,5.234 C19.480,3.814 21.182,3.000 23.000,3.000 M23.000,-0.000 C20.171,-0.000 17.649,1.307 16.000,3.348 C14.349,1.307 11.829,-0.000 9.000,-0.000 C4.029,-0.000 -0.000,4.029 -0.000,9.000 C-0.000,21.000 14.000,29.000 16.000,30.000 C18.000,29.000 32.000,21.000 32.000,9.000 C32.000,4.029 27.971,-0.000 23.000,-0.000 L23.000,-0.000 Z" class="cls-1")

            div.product__picture

            div.product__zoom-controls

              span.product__zoom-tweak.product__scale-up
              span.product__zoom-tweak.product__scale-down

          div.product__info-section

            div.product__details

              h1.product__heading White Seat - office
              p.product__description  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum interdum malesuada. Sed ornare posuere lobortis.

              div.product__cost-info

                div.product__cost-block
                  p.product__cost-heading Cost
                  span.product__cost $65
                  span.product__cost.product__cost--discount $90

                div.product__cost-block
                  p.product__cost-heading Quantity
                  ul.product__quantity-select
                    li.product__quantity-number.product__quantity-number--active 1
                      ul.product__quantity-select.product__quantity-select--hidden
                        li.product__quantity-number 2
                        li.product__quantity-number 3
                        li.product__quantity-number 4

                a.button__cart-add Add to cart

            section.recommended

              h1.recommended__heading Recommended

              ul.recommended__list
                li.recommended__item
                  div.recommended__image
                    img(src='pics/products-small/red-seat--small.png')
                  div.recommended__caption
                    span.recommended__name RED SEAT
                    p.recommended__description Lorem ipsum dolor sit amet
                li.recommended__item
                  div.recommended__image
                    img(src='pics/products-small/red-seat--small.png')
                  div.recommended__caption
                    span.recommended__name RED SEAT
                    p.recommended__description Lorem ipsum dolor sit amet
                li.recommended__item
                  div.recommended__image
                    img(src='pics/products-small/red-seat--small.png')
                  div.recommended__caption
                    span.recommended__name RED SEAT
                    p.recommended__description Lorem ipsum dolor sit amet

      section.search

        div.search-wrapper

          div.search__panel
            input.search__input

            label.search__label Type product that you're looking for

          div.search__results
            ul.search__results-list
              li.search__results-item
                a.search__results-item-link(href='#')
                  div.search__results-item-image
                    img(src='pics/products-small/red-seat--small.png')
                  span RED SEAT
              li.search__results-item
                a.search__results-item-link(href='#')
                  div.search__results-item-image
                    img(src='pics/products-small/red-seat--small.png')
                  span DARK SEAT
              li.search__results-item
                a.search__results-item-link(href='#')
                  div.search__results-item-image
                    img(src='pics/products-small/red-seat--small.png')
                  span DARK SEAT

          div.search__indicator 1 searched result